.roulette {
    overflow: hidden;
}

.roulette__list {
    display: flex;
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.roulette__prize {
    flex: 0 0 auto;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
}